airtime-project/airtime-ws/src/main/module/apiweb/wsdl/airtime-core-v1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="airtime-core"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:airt="https://airtime.mobivi.vn/soap/core/v1"
	xmlns:airtime="https://airtime.mobivi.vn/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://airtime.mobivi.vn/soap/core/v1">
	<wsdl:types>
		<xsd:schema targetNamespace="https://airtime.mobivi.vn/soap/core/v1">
			<xsd:import namespace="https://airtime.mobivi.vn/v1"
				schemaLocation="airtime-core-v1.xsd">
			</xsd:import>
			
			<xsd:element name="saveUser">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="user" type="airtime:UserType"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="saveUserResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="user" type="airtime:UserType"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>


	<wsdl:message name="AirtimeFault">
		<wsdl:part name="parameters" element="airtime:AirtimeFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveUserRequest">
		<wsdl:part name="parameters" element="airt:saveUser"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveUserResponse">
		<wsdl:part name="parameters" element="airt:saveUserResponse"></wsdl:part>
	</wsdl:message>



	<wsdl:portType name="airtime-core">
		<wsdl:operation name="saveUser">
			<wsdl:input message="airt:saveUserRequest"></wsdl:input>
			<wsdl:output message="airt:saveUserResponse"></wsdl:output>
			<wsdl:fault name="fault" message="airt:AirtimeFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<!-- binding -->
	<wsdl:binding name="airtimeCoreSOAP" type="airt:airtime-core">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="saveUser">
			<soap:operation soapAction="/SaveUser" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="airtime-core">
		<wsdl:port binding="airt:airtimeCoreSOAP" name="airtimeCoreSOAP">
			<soap:address location="https://airtime.mobivi.vn/soap/core/v1" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
